
.encabezado{
    background-color: darkgrey;
    border-radius: 5px;
    margin: 0 auto
}

.img{
    display: block;
    max-width: 200px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;

}
.informacion{
    text-align: justify;
}

.contenedor{
    padding: 50px;
}